body
{
	background-color: #99b;
	text-align: center;
}
h1,h2
{
	font-family: Times New Roman;
}
div
{
	background-color: #337;
	margin: 0 400px;
}
p
{
	color: white;
}
#story
{
	background-color: green;
}
[value*=按钮]
{
	background-color: #D09090;
	color: white;
}
li
{
	color: #EEE;
	margin-left: 650px;
	text-align: left;
}
li ul
{
	list-style-type: square;
}
span
{
	color: orange;
}
#truth span
{
	color: #00FF11;
}